@import url('https://fonts.googleapis.com/css?family=Arsenal|Dosis|Indie+Flower|Lato|Open+Sans|Overpass|PT+Sans|Raleway|Roboto');

#wrapper {
    background: rgb(33, 175, 47);
    background-color: black;
    width: 25em;
    height: 28em;
    margin: 7em auto;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 0 0 100px;
}

#content {
    background-color: black;
    box-shadow: 0 0 20px;
    height: 24em;
    width: 22em;
    margin: 2em auto;
    border-radius: 0.4em;
    color: white;
    text-align: center;
    position: relative;
}

#header {
  font-family:"Dosis";
  font-size: 3em;
  padding-top: 0.5em;
  transition: opacity .5s ease-in-out;
}

#tac {
    font-family:"Indie Flower";
}

/*Ul for player*/
#players{
  display: block;
  margin-top: 8em;
}

li {
    display: inline;
    font-family: "Indie Flower";
    font-size: 2em;

}

li:hover {
  font-weight: bold;
  font-size:2.05em;
  box-shadow: 0 0 0 5px rgb(23, 93, 30);
  transition: all 0.3s ease;
  border-radius:5px;
}



#playerOne {
  position: relative;
  right: 1em;
  transition: opacity .5s ease-in-out;
  cursor: pointer;
}

#playerTwo {
    position: relative;
    right: 0.3em;
    transition: opacity .5s ease-in-out;
    cursor: pointer;

}

/*X or O choice Styling*/
#choiceOne {
  position: relative;
  right: 0.8em;
  bottom: 0.5em;
  font-size: 4em;
  display: inline-block;
  border-radius: 100%;
  width: 1em;
  transition: opacity .5s ease-in-out;
  cursor: pointer;
}

#choiceTwo {
  position: relative;
  right: -0.3em;
  bottom: 0.5em;
  font-size: 4em;
  display: inline-block;
  border-radius: 100%;
  width: 1em;
  transition: opacity .5s ease-in-out;
  cursor: pointer;
}

/*X and O font*/
.choice:after {
    font-family:"Indie Flower";
    content:"X or O?";
}

/* Buttons for Tic Tac Toe*/
button {
  height: 10em;
  width: 8.2em;
  margin-bottom: 0.3em;
  margin-right: 0em;
  position: relative;
  top: 1em;
  background-color: black;
  border: none;
  vertical-align: top;
}

p {
    color: white;
    font-family: "Indie Flower";
    font-size: 5em;
    position: relative;
    bottom: 0.8em;
}

.buttonDividers {
  border-bottom: 3px solid white;
  width: 20em;
  margin: auto;
  height: 8em;
  margin-bottom: -0.7em;;
  overflow: hidden;
  position: relative;
  top: 0.15em;
}

#bottomDiv{
  border: none;
}

#verticalOne, #verticalTwo {
      height: 2px;
      background: white;
      position: relative;
      z-index: 1;
      transform: rotate(90deg);
}

#verticalOne {
    top: 12.2em;
    right: 3.4em;
}

#verticalTwo {
    top: 12em;
    right: -3.3em;
}
